* { 
	font-family: 'Roboto', sans-serif;
	font-size:18px;
}

.bg-maroon {
	background-color: #943d24;
}

.bg-gray {
	background-color: #A9A9A9;
}

.bg-image1 {
	background-image: url('../images/ccfmusic1.jpeg');
}

